# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.t5test.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\sunlu\Documents\GitRepos\2022TiltFiveTest\t5test\.idea\.idea.t5test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
